*{
    margin: 0;
}
.hero
{
  
}  
.hero_info
{
    padding-top: 200px;
    padding-left: 400px;
    box-sizing: border-box;
    height: 661px;
    background-image: url(../images/heropic.png);
    background-size: 490px 661px;
    background-position-x: 900px;
    background-repeat: no-repeat;
    background-color: #FFF;

}
.heroInfo_paragraph
{
    padding-left: 80px;
    background-position-y: 300px;
    font-size: 1.5em;
    line-height: 90px;
}
.heroInfo_title
{
    line-height: 40px;
}
.hero_1
{
    font-family: "Lato", serif;
    font-style: italic;
}
.hero_2
{
    color: #12677c;
    font-weight: 700;
}
h1
{
    color: #12677c;
    font-family: "Fjalla One";
    font-size: 5em;
    font-weight: 500;
}