.hero
{
  
}  
.hero_info
{
    height: 730px;
    background-image: url(../images/heropic.png);
    background-size: 550px 730px;
    background-position-x: 900px;
    background-repeat: no-repeat;
    background-color: #FFF;
    text-align: center;
}
.heroInfo_paragraph
{
    background-position-y: 300px;
    font-size: 1.5em;
    line-height: .02em;
}
.heroInfo_title
{
    line-height: .2em;
}
.hero_1
{
    font-family: "Lato", serif;
    font-style: italic;
}
.hero_2
{
    color: #12677c;
    font-weight: 700;
}
h1
{
    color: #12677c;
    font-family: "Fjalla One";
    font-size: 5em;
    font-weight: 500;
}