.aboutme {
    width: 100%;
    height: 100%;
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-option1);
    
}

.aboutme__title {
    margin: 0;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--color-option4);
}

@media screen and (min-width: 540px) {
    .aboutme__title {
        font-size: var(--font-size-large);
    }
}