.carousel-item {
  min-width: 20rem;
  min-height: 10rem;
  margin: 0 1rem;
  position: relative;
  display: inline-block;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  -webkit-transform-origin: center left;
}

.carousel-item:hover ~ .carousel-item,
.carousel-item:focus ~ .carousel-item {
  transform: translate3d(10rem, 0, 0);
  -webkit-transform: translate3d(10rem, 0, 0);
}

.carousel-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item__details {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  box-sizing: border-box;
  word-break: break-all;
  transition: 450ms opacity;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.carousel-item__details--img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.carousel-item:hover .carousel-item__details,
.carousel-item:focus .carousel-item__details {
  opacity: 1;
}

.carousel-item__details--title {
  margin: 0.5rem 0 0 0;
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
  color: var(--color-option2);
}

.carousel-item__details--description {
  margin: 0.3rem 0;
  word-break: break-all;
  word-wrap: break-word;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  white-space: -moz-pre-wrap !important;
  white-space: pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
  color: var(--color-option2);
}

@media screen and (min-width: 410px) {
  .carousel-item {
    min-width: 24rem;
    min-height: 12rem;
    margin: 0 2rem;
  }
}

@media screen and (min-width: 540px) {
  .carousel-item {
    min-width: 28rem;
    min-height: 14rem;
    margin: 0 3rem;
  }

  .carousel-item__details--img {
    width: 2rem;
    margin-right: 0.75rem;
  }

  .carousel-item__details--title {
    font-size: var(--font-size-normal);
  }

  .carousel-item__details--description {
    font-size: var(--font-size-regular);
  }
}

@media screen and (min-width: 992px) {
  .carousel-item {
    min-width: 30rem;
    min-height: 15rem;
    margin: 0 4rem;
  }

  .carousel-item__details--img {
    width: 2rem;
    margin-right: 0.75rem;
  }

  .carousel-item__details--title {
    font-size: var(--font-size-normal);
  }

  .carousel-item__details--description {
    font-size: var(--font-size-regular);
  }
}
