.img__container--development {
    width: 90%;
    margin-bottom: 0;
}

.img {
    width: 100%;
}

@media (min-width: 600px) {
    .img__container--development {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .img__container--development {
        width: 60%;
    }
}