.hero {
    width: 90%;
    height: 87vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: var(--zindex-normal);
    text-align: center;
}

.hero__title {
    margin: 0;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-bolder);
    color: var(--color-option2);
}

.hero__text {
    width: 80%;
    margin: 0;
    padding-bottom: 1.5rem;
    line-height: 1.75rem;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-light);
    border-bottom: 1px solid var(--color-option2);
}

.hero__list--social {
    width: 50%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}

.hero__icon--social {
    width: 1.5rem;
}

@media screen and (min-width: 280px) {
    .hero__title {
        margin-bottom: 2rem;
        font-size: var(--font-size-medium);
    }

    .hero__text {
        line-height: 2.5rem;
        padding-bottom: 2.5rem;
        font-size: var(--font-size-regular);
    }

    .hero__list--social {
        margin-top: 2.5rem;
    }

    .hero__icon--social {
        width: 2rem;
    }
}

@media screen and (min-width: 375px) {
    .hero__icon--social {
        width: 3rem;
    }
}

@media screen and (min-width: 410px) {
    .hero__text {
        font-size: var(--font-size-normal);
    }
}

@media screen and (min-width: 540px) {
    .hero__title {
        font-size: var(--font-size-extralarge);
        font-weight: var(--font-weight-bold);
    }
}

@media (min-width: 992px) {
    .hero__text {
        width: 60%;
        font-size: var(--font-size-medium);
    }
}