.educationskills {
  padding: 7rem 1rem;
  background-color: var(--color-option1);
}

.educationskills__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.educationskills__title {
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-option4);
  color: var(--color-option2);
}

.educationskills__subtitle {
  width: 85%;
  line-height: 1.8rem;
  text-align: center;
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-normal);
  color: var(--color-option3);
}

.educationskills__unorderedlist {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.educationskills__listitem--education {
  width: 80%;
  height: 100%;
  margin: 1.5rem 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--color-option4);
}

.educationskills__institution {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  color: var(--color-option4);
}

.educationskills__career {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-normal);
  color: var(--color-option2);
}

.educationskills__date {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  color: var(--color-option3);
}

.educationskills__listitem--skill {
  width: 80%;
  height: 100%;
  margin: 1.5rem 0;
  margin-bottom: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-option4);
}

.educationskills__skill {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-normal);
  color: var(--color-option2);
}

@media screen and (min-width: 540px) {
  .educationskills__title {
    font-size: var(--font-size-large);
  }

  .educationskills__subtitle {
    line-height: 2.75rem;
    font-size: var(--font-size-normal);
  }

  .educationskills__institution {
    font-size: var(--font-size-medium);
  }

  .educationskills__career {
    font-size: var(--font-size-normal);
  }

  .educationskills__date {
    font-size: var(--font-size-regular);
  }

  .educationskills__skill {
    font-size: var(--font-size-normal);
  }
}

@media screen and (min-width: 992px) {
  .educationskills__subtitle {
    line-height: 3rem;
    font-size: var(--font-size-medium);
  }

  .educationskills__listitem--education,
  .educationskills__listitem--skill {
    width: 50%;
  }

   .educationskills__institution {
    font-size: var(--font-size-large);
  }

  .educationskills__career {
    font-size: var(--font-size-medium);
  }

  .educationskills__date {
    font-size: var(--font-size-normal);
  }

    .educationskills__skill {
    font-size: var(--font-size-medium);
  }
}
